/* Default styles (applies to all devices) */
* {
  padding: 0px;
  margin: 0px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  height: 7vh;
  width: 100vw;
  background-color: gray;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  align-items: center;
  justify-content: center;
}

footer {
  position: absolute;
  display: flex;
  height: 7vh;
  width: 100vw;
  background-color: gray;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  align-items: center;
  justify-content: center;
  bottom: 0px;
}

.child {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Phones (up to 480px) */
@media (max-width: 480px) {
  body {
    background-color: #b3656b;
    font-size: 14px;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(1, 100vw);
    grid-template-rows: repeat(4, 21.5vh);
  }

  .div1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: #7b9c16;
  }

  .div2 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-color: #338b48;
  }

  .div3 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    background-color: rgb(247, 247, 52);
  }
}

/* Tablets (481px to 1024px) */
@media (min-width: 481px) and (max-width: 1024px) {
  body {
    background-color: #396c75;
    font-size: 16px;
  }

  .content {
    display: grid;
    grid-template-rows: repeat(3, 28.66vh);
    grid-template-columns: repeat(2, 50vw);
  }

  .div1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    background-color: #7b9c16;
  }

  .div2 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-color: #338b48;
  }

  .div3 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background-color: rgb(247, 247, 52);
  }
}

/* Laptops (1025px to 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    background-color: #338b48;
    font-size: 18px;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: repeat(1, 86vh);
  }

  .div2 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: #338b48;
  }

  .div1 {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    background-color: #7b9c16;
  }

  .div3 {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    background-color: rgb(247, 247, 52);
  }
}
